#divTableau{
    height: 750px;
    background-color:#DAE4E4;
    border: 1px solid black;
}

#divMenu{
    height: 750px;
    background-color:#DDDDDD;
    border: 1px solid black;
}

/*
div {
    background-color: lightgreen;
}
*/
#session {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom : 2px solid black;
}

#validation {
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom : 2px solid black;
    text-align:center;
}

textarea{
    resize: none;
}